<h1>Список пользователей</h1>
<table>
  <thead>
    <tr><td>Имя</td> <td>Админ</td> <td>Заблокирован</td> <td>Ограничения на пароль</td> </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.username %> - <%= user.password %> </td>
        <td> <%= user.admin? ? 'Да' : 'Нет' %> </td>
        <td> <%= user.blocked? ? 'Да' : 'Нет' %> </td>
        <td> <%= user.validating? ? 'Да' : 'Нет' %> </td>
        <td> 
            <form method='post' action='user/block/<%= user.username %>'>
              <button class="turn_button" type="submit" <%= 'disabled' if user.admin? %>><%= user.blocked? ? 'Разблокировать' : 'Заблокировать' %></button>
            </form>
          </td>
        <td> <form method='post' action='user/validate/<%= user.username %>'><button class="turn_button" type="submit"><%= !user.validating? ? 'Включить валидацию' : 'Выключить валидацию' %></button></form></td>
      </tr>
    <% end %>
</tbody>
</table>
<a href="/admin/add_user">Создать пользователя</a>